# from https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# from https://github.com/github/gitignore/blob/main/Node.gitignore
node_modules/
