name: Trunk Check PR Annotation

on:
  workflow_run:
    workflows: [Pull Request]
    types:
      - completed

permissions: read-all

jobs:
  trunk_check_annotate_pr:
    name: Trunk Check PR Annotation
    runs-on: ubuntu-latest
    permissions:
      checks: write

    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      - name: Trunk Check
        uses: ./ # external users, use: trunk-io/trunk-action@v1
        with:
          post-annotations: true
